.heading{
    width:100%;
    margin: top 0;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-size-adjust: 100px;
    color:whitesmoke;
    background-color:black;
    


}
.Siel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    color:wheat;
    text-decoration: solid;
    flex-wrap: wrap;
    font-size: larger;
    width: 100%;
    .league-logo{
        width: 50%;
        .logoless{
            width: 50%;
            width: 50%;
            height: 100%;
            object-fit: contain
        }
        .Quote{
            width: 50%;
            .quote-img{
                width: 50%;
                height: 100%;
                object-fit: contain;
            }


    }

    
    


};
}
.Twende{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color:black;
    color:wheat;
    text-decoration: solid;
    font-size: larger;
    
    
    width: 100%;
    .Gria{
        width: 50%;
        .Gria-img{
            
            width: 50%;
            height: 100%;
            object-fit: contain;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .Win {
        width: 50%;
    
        .win-img {
            width: 50%;
            height: 100%;
            object-fit: contain;
        }
    };
}





  



.footer{
   
    padding: 0%;
    width: 100%;
    background-color: black;
    color:wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-evenly;
    flex-direction: row;
}
.footer-item{
    display: flex;
    flex-direction: column;
    background-color:black;
    color:wheat;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap : 10px;
}